@import "@taiga-ui/core/styles/taiga-ui-local.scss";

.card {
  @include shadow(1);
  display: flex;
  width: 572px;
  padding: 20px 24px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid var(--day-base-base-04);
  background: var(--day-base-base-01);
  .button {
    padding-top: 16px;
    display: flex;
    width: 572px;
    justify-content: flex-end;
  }
  .title, .type {
    padding-bottom: 4px;
  }
}
