.wrapper {
  display: flex;
  gap: 28px;

  .left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .right {
    flex: 1 1 50%;

    .form {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
