.wrapper {
  display: flex;
  margin-top: 46px;
  margin-bottom: 24px;
  justify-content: space-between;

  .tabs {
    display: flex;
    height: 56px;
    width: 202px;
    justify-content: space-between;
  }
  
  .add-btn {
    margin-top: 10px;
  }
}
