.wrapper {
    display: flex;
    margin-left: 130px;
    margin-top: 46px;
    max-width: 1262px;
    margin-right: 134px;
    margin-bottom: 24px;
    justify-content: space-between;
    .tabs {
        display: flex;
        height: 56px;
        width: 202px;
        justify-content: space-between;
    }
    .add-btn {
        margin-top: 10px
    }
}